<a href="https://github.com/zcid"><%= image_tag("GitHub-Mark-32px.png") %></a>
<a href="https://twitter.com/zcid"><%= image_tag("twitter.png") %></a>
<a href="mailto:nick@zcid.co"><%= image_tag("email.png") %></a><!-- Icon made
by <a href="http://yanlu.de" title="Yannick">Yannick</a> from <a
href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is
licensed under <a href="http://creativecommons.org/licenses/by/3.0/"
title="Creative Commons BY 3.0">CC BY 3.0</a> -->
