<a href="https://github.com/zcid"><%= image_tag("GitHub-Mark-32px.png") %></a>
<a href="https://twitter.com/zcid"><%= image_tag("twitter.png") %></a>
<a href="https://linkedin.com">LinkedIn</a>
<a href="mailto:nick@zcid.co"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
